.ext-badge-img {
    height: 42px;
    border: 0.1rem solid #ced4da;
    border-left: 0;
}

.ext-badgeid-input {
    border-right: 0;
}

.ext-badgeid-input:focus~.input-group-append .ext-badge-img {
    border-color: $blackColor !important;
}